<div id="title">
	<h1>{{ title }}</h1>
	<h2>{{ subtitle }}</h2>
	<p>Desarrollo de Software</p>
	<a href="/assets/files/CV-joelsandocalC-1.pdf" download="" class="btn btn-lg btn-danger">
		<i class="fa fa-file-text" aria-hidden="true"></i>
	</a>
</div>

<article class="about">
	<h2>Sobre mi</h2>	
	<p>
		Mi nombre es Joel Sandoval Campos egresado de la Carrera de 
		Desarrollo de Software en el Instituto SENATI –
		LUIS CACERES GRAZIANI, llevo en el mundo de la 
		tecnologia desde los 18 años.
		Me encanta programar y todo lo relacionado con 
		Desarrollo web y el mundo de las computadoras.
		Soy autodidacta me gusta investigar y ponerme al 
		dia sobre el mundo de nuevas tecnologias que 
		van saliendo cada cierto tiempo.
	</p>
</article>
